// файл с переменными цветов

// работа с текстом
$white: #fff;
$dark: #323232;
$subtitle: rgba(255, 255, 255, 0.55);
$subtitleDark: rgba(0, 0, 0, 0.3);
$sectionTitle: #31464A;
$blockTitle: #576C70;
$defaultText: #353535;
$servicesSubtitle: rgba(113, 135, 138, 0.7);
$price: #263739;
$light: #AFC8CC;
$linkHover: rgba(255, 255, 255, 0.11);

// работа с фоном
$lkPresentaionSection: #576C70;
$footer: $dark;
$aboutUs: #EEEEEE;
$advSection: #576C70;
$welcomeNavigation: linear-gradient(to right, #AFC7CB, #90ADB1);
$lightBlue: #98B3B8;
$formBackground: #fff;
$leftSidebar: linear-gradient(141.84deg, rgb(153, 181, 185) 34.567%,rgb(141, 170, 174) 103.872%);;