body {
  margin: 0;
  font-family: 'Montserrat';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #8EABAF; /* Задаем прозрачный фон для трека скроллбара */
}

::-webkit-scrollbar-thumb {
  background-color: #576C70; /* Задаем цвет ползунка скроллба��а */
  border: 3.5px solid #8EABAF; /* Добавляем отступ вокруг ползунка */
  border-radius: 10px; /* Делаем ползунок закругленным */
  box-shadow: none; /* Убираем тень у ползунка */
}
