@import '../../styles/colors.scss';

.auth{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    &__logo{
        width: 186px;
        margin-top: 78px;
    }
    &__contacts{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &__list{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &-item{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                list-style: none;
                &:not(:last-child){
                    margin-bottom: 10px;
                }
                &__link{
                    color: $light;
                    font-size: 20px;
                    font-weight: 700;
                    text-decoration: none;
                }
                &__subtitle{
                    margin: 0;
                    color: $subtitleDark;
                    font-size: 14px;
                    font-weight: 500;
                }
            }
            &__main{
                font-size: 16px;
                font-weight: 500;
                line-height: 20px;
                letter-spacing: 0%;
                text-align: center;
                width: 337px;
                color: $sectionTitle;
                margin-bottom: 33px;
            }
        }
    }
}