@import "../../../styles/colors.scss";

.adv{
    background: $advSection;
    margin-top: 180px;
    height: 1129px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 151px;
    position: relative;
    overflow: hidden;
    &__text{
        width: 578px;
        color: $white;
        &-title{
            font-size: 37px;
            font-weight: 700;
            line-height: 45px;
            letter-spacing: 0%;
            text-align: left;
            margin-bottom: 37px;
        }
        &-description{
            font-size: 23px;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0%;
            text-align: left;
            margin-bottom: 57px;
        }
    }
    &__button{
        border-radius: 70px;
        box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.25);
        background: rgb(38, 55, 57);
        color: $white;
        padding: 24px 75px;
        font-weight: 600;
        border: 0;
        font-family: 'Montserrat';
        font-size: 25px;
        cursor: pointer;
        transform: scale(1);
        transition: .3s;
        &:hover{
            transform: scale(1.05);
            transition: .3s;
        }
    }
    &__image{
        width: 1314px;
        height: 738px;
        position: absolute;
        right: -8vw;
        @media screen and (max-width: 2560px){
            right: -25vw;
        }
        @media screen and (max-width: 1920px){
            right: -8vw;
        }
    }
}