@import '../../../styles/colors.scss';

.footer{
    background: $footer;
}

.navigation{
  width: 1587px;
  height: 644px;
  background: $welcomeNavigation;
  position: absolute;
  z-index: 2;
  display: flex;
  justify-self: flex-end;
  box-shadow: 0px -4px 84px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content{
  width: 100%;
  padding: 0 81px;
  display: flex;
  flex-direction: row;
  height: 122px;
  align-items: center;
  justify-content: space-between;
}

.nav{
  height: 122px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-list{
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 108px;
  &-item{
    list-style: none;
    position: relative;
    width: 100%;
    height: 100%;
    transition: .3s;
    position: relative;
    &:hover{
      background: $linkHover;
      transition: .3s
    }
    a{
      height: 100%;
      width: 100%;
      min-width: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white;
      text-decoration: none;
      padding: 0 50px;
      font-size: 22px;
      font-weight: 500;
    }

  }
}

.logo{
  height: 62px;
}

.contacts{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 50px;
  &-item{
    list-style: none;
    &:last-child{
      margin-left: 30px;
    }
    a{
      color: $white;
      text-decoration: none;
      font-size: 26px;
      font-weight: 700;
    }
    p{
        color: $subtitle;
        font-size: 22px;
        font-weight: 500;
    }
  }
}

.main-content{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 81px;
  position: relative;
  padding-top: 80px;
  &__cat{
    position: absolute;
    right: 87px;
    bottom: -15px;
  }
  &__left{
    width: 755px;
    p:first-child{
      font-size: 46px;
      font-weight: 800;
      color: $white;
      margin-bottom: 69px;
      line-height: 135.1%;
    }
    p:last-child{
        font-size: 22px;
        font-weight: 400;
        color: $subtitle;
        line-height: 135.1%;
    }
  }
  &__right{
    width: 270px;
    li{
      list-style: none;
      margin-bottom: 30px;
      p{
        font-size: 42px;
        font-weight: 900;
        color: $white;
      }
      span{
        font-size: 19px;
        font-weight: 400;
        color: $subtitle;
      }
    }
  }
}